# .npmrc

# 强直提升postcss和vue到全局,来保证我们实例的唯一性.
public-hoist-pattern[]=postcss
public-hoist-pattern[]=vue

# 在不配置.npmrc时官方会默认提升一些依赖，目前是有eslint和prettier
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*